@model IEnumerable<JBOFarmersMkt.Models.UserProfile>

@{
    ViewBag.Title = "Add User";
}

<div class="row">
    <header class="col-xs-12 page-header">
        <h1>@ViewBag.Title <small>Assign User to:  @TempData["supplier"]</small></h1>
    </header>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td class="text-right">
                                @Html.ActionLink("Add User", "completeAssignment", new { id = item.UserId, supp = TempData["supplier"] }, new { @class = "btn btn-default btn-sm" })
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>
            @Html.ActionLink("Back to Users", "Users", new { id = TempData["supplierId"] })
        </p>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("table").DataTable({
                "columnDefs": [
                { "orderable": false, "targets": 1 }
                ]
            });
        });
    </script>
}


