@model JBOFarmersMkt.Models.Supplier

@{
    ViewBag.Title = "Details";
}

<section class="details">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12 dl-horizontal">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.address)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.city)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.city)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.state)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.state)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.phone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    Authorized Users:
                </dt>
                <dd>
                    <ul class="list-unstyled">
                        @foreach (var user in ViewBag.users)
                        {
                            <li>@user</li>
                        }
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.supplierID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</section>

