@model ICollection<JBOFarmersMkt.Models.UserProfile>


@{
    ViewBag.Title = "Manage Users";
}

<section class="manageUsers">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>
                @ViewBag.Title <small>Managing users for:  @TempData["supplier"]</small>
            </h1>
        </header>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <p>
                @Html.ActionLink("Add a new User", "addAssignment", new { supp = TempData["supplier"] }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    <span>
                                        <!-- This should really be changed to a form post...-->
                                        @Html.ActionLink("Delete User", "deleteAssignment", new { id = item.UserId, supp = TempData["supplier"] }, new { @class = "btn btn-sm btn-danger" })
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <p>
                @Html.ActionLink("Back to Suppliers", "Index")
            </p>
        </div>
    </div>
</section>

