@model JBOFarmersMkt.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<section class="registrationForm">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title <small>Create a new account.</small></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, "Username", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.firstName, "First Name", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.firstName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.lastName, "Last Name", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.lastName, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.address, "Address", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.address, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.city, "City", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.city, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.state, "State", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.state, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.zip, "Zip", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.zip, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.phone, "Phone", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.phone, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Customer.email, "Email", new { @class = "col-sm-4 control-label" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Customer.email, new { @class = "form-control", placeholder = "" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
