@model JBOFarmersMkt.Models.Product

@{
    ViewBag.Title = "Details";
}

<section class="details">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title</h1>
        </header>
    </div>

    <div class="row">
        <div class="table-responsive col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.productCode)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.description)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.quantity)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.unitPrice)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.unitPrice)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.lastSoldDate)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.lastSoldDate)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.upc)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.upc)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.storeCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.storeCode)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.supplier)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.supplier)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LRT)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.LRT)
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>

</section>