@model JBOFarmersMkt.Models.Product

@{
    ViewBag.Title = "Details";
}

<section class="details">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title</h1>
        </header>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.productCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.productCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.quantity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.unitPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.unitPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.lastSoldDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.lastSoldDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.upc)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.upc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.storeCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.storeCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.supplier)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.supplier)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LRT)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LRT)
                </dd>
            </dl>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                @Html.ActionLink("Back to Products", "Index")
            </p>
        </div>
    </div>

</section>