@model IEnumerable<JBOFarmersMkt.Models.Product>

@{
    ViewBag.Title = "Products";
}

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@helper TruncateDate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)
    }
}

<section class="products">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Product
                                </th>
                                <th class="text-right">
                                    Price
                                </th>
                                <th class="text-right">
                                    Quantity
                                </th>
                                <th>
                                    Last Sold
                                </th>
                                <th>
                                    Supplier
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.productCode)
                                    </td>
                                    <td>
                                        @Truncate(item.description, 30)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.unitPrice)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.quantity)
                                    </td>
                                    <td>
                                        @if (item.lastSoldDate != null)
                                        {
                                            @TruncateDate(item.lastSoldDate, 10)
                                        }
                                    </td>
                                    <td>
                                        @Truncate(item.supplier, 17)
                                    </td>

                                    <td class="text-center">
                                        @Html.ActionLink("Details", "Details", new { id = item.productId }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>There is no data to display</p>
            }
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $(function () {
            // Use a DataTable for product information
            $("table").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ],
                "order": [1, "asc"]
            })
        })
    </script>
}