@model IEnumerable<JBOFarmersMkt.Models.Customer>

@{
    ViewBag.Title = "GetUsers";
}

<h2>GetUsers</h2>

<section class="products">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Username    
                                </th>
                                <th>
                                    email
                                </th>                              
                                
                                <th>
                                    Name
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                  <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @item.firstName  @item.lastName
                                    </td>
                                    
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>There is no data to display</p>
            }
        </div>
    </div>
</section>
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            // Use a DataTable for product information
            $("table").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ],
                "order": [1, "asc"]
            })
        })
    </script>
    }
</table>
