@model JBOFarmersMkt.Models.Sale

@{
    ViewBag.Title = "Details";
}

<section class="details">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h2>Details</h2>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.quantity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.total)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.total)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.unitPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.unitPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.discount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.discount)
                </dd>

                <!--Bootstrap truncates this field automatically. The inline style prevents this behavior.-->
                <dt style="white-space:normal;">
                    @Html.DisplayNameFor(model => model.totalPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.totalPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.supplier)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.supplier)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.custId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.custId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.transCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.transCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.upc)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.upc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.storeCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.storeCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.register)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.register)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.department)
                </dd>

            </dl>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                @Html.ActionLink("Back to Sales", "Index")
            </p>
        </div>
    </div>
</section>
