@model JBOFarmersMkt.Sale

@{
    ViewBag.Title = "Details";
}

<section class="details">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h2>Details</h2>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.description)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.date)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.quantity)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.total)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.total)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.unitPrice)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.unitPrice)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.discount)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.discount)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.totalPrice)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.totalPrice)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.supplier)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.supplier)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.custId)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.custId)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.transCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.transCode)
                    </td>

                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.department)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.department)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.category)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.category)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.upc)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.upc)
                    </td>

                    <th>
                        @Html.DisplayNameFor(model => model.storeCode)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.storeCode)
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.register)
                    </th>
                    <td>
                        @Html.DisplayFor(model => model.register)
                    </td>
                    <th>&nbsp;</th>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.ActionLink("Back to Sales", "Index")
        </div>
    </div>
</section>
