@model IEnumerable<JBOFarmersMkt.Models.Sale>

@{
    ViewBag.Title = "Sales";
}

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@helper TruncateDate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)
    }
}

<section class="sales">
    <div class="row">
        <header class="col-xs-12 page-header">
            <h1>@ViewBag.Title</h1>
        </header>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.transCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.description)
                                </th>
                                <th class="text-right">
                                    @Html.DisplayNameFor(model => model.quantity)
                                </th>
                                <th class="text-right">
                                    @Html.DisplayNameFor(model => model.total)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.supplier)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.transCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.date)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.quantity)
                                    </td>
                                    <td class="text-right">
                                        @Html.DisplayFor(modelItem => item.total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.supplier)
                                    </td>
                                    <td class="text-center">
                                        @Html.ActionLink("Details", "Details", new { id = item.saleId }, new { @class = "btn btn-primary" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>There are no items to display</p>
            }
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $(function () {
            // Use a DataTable for the sales information
            $("table").DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ],
                "order": [ 1, 'desc' ]
            });
        })
    </script>
}


