@using JBOFarmersMkt.Models;
@using PagedList;
@using PagedList.Mvc;


@model IPagedList<Import>

@{
    ViewBag.Title = "Import a File";
}
<head>
    <title>Sales</title>
    <link rel="stylesheet" type="text/css" href="~/Content/PagedList.css">
</head>

<h2>Import a Products File</h2>

<div>
    <h1 style="color:red" align="center">@ViewBag.Error</h1>
    <h3 style="color:red" align="center">@ViewBag.Message</h3>
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="file">Filename:</label></td>
                <td><input type="file" name="file" id="file" /></td>
                <td><input type="submit" value="Upload" /></td>
            </tr>

        </table>
    </form>

</div>
@if (Model != null)
{
    <table>
        <tr>
            <th>
                <font color="Blue">Files Already Imported</font>
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.filename)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}

<div>
    @if (Model != null)
    {
        <p class="pager">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortBy = Request["sortBy"], search = Request.QueryString["search"] }))</p>
    }
</div>